@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Bai Jamjuree", serif;
}
:root{
    --primary-color: #161A51;
    --color-lightblue: #89D9F2;
    --color-green: #10B534;
    --color-grey: #A1A4A5;


    --max-width: 1440px;

}
body{
    background-color: var(--primary-color);
}


/* Header */

.flex{
    display: flex;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    z-index: 1000;
}
.logo-header img{
    width: 130px;
    height: 110px;
    cursor: pointer;
}
.list-header{
    justify-content: space-between;
    gap: 4rem;
}
.menu-horizontal {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.menu-horizontal a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical{
    position: absolute;
    display: none;
    width: 200px;
    background-color: rgb(0, 0, 0, .5);
    z-index: 1000;
    border-top: 2px solid lightblue;
}
.menu-vertical li:hover{
    background-color: #320777;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    text-transform: capitalize;
}
.line{
    position: relative;
 }
 .line a:hover{
    color: var(--color-lightblue);
 }
.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--color-lightblue);
    position: absolute;
    bottom: -7px;
    right: 40%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}
.boton {
    padding: 0.7em 1em;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  .bx{
    font-size: 20px;
  }
  .boton::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
  }
  .boton:hover {
    box-shadow: 40px 0 100px #008cffa4, -40px 0 100px #e100ff9b;
  }

  
  /* menu responsive */
  .menu-icono{
    display: none;
}

#menu:checked ~ .list-header{
    display: initial;
}
#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

#menu{
    display: none;
}
header label{
    display: none;
}

  /* Banner */

nav{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 6rem;
}
.banner{
    /* background-color: #89D9F2; */
    width: 90%;
    height: 80vh;
    border-radius: 0 0 40px 40px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.title-banner{
    width: 37%;
    line-height: 40px;
    margin: 0 0 0 4rem;
}
.title-banner strong{
    color: #008cff;
    font-weight: 400;
}
.title-banner strong:hover{
    text-decoration: underline;
    cursor: pointer;
}
.inf-service{
    background-color: var(--primary-color);
    border-radius: 0 0 40px 40px
}
.title-banner .title-first{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.title-banner .title-second{
    font-size: 80px;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(26, 173, 127, 100), rgb(46, 68, 210, 100));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 65px;
    font-weight: 600;
}
.title-banner .title-third{
    font-size: 20px;
    color: white;
    width: 80%;
    line-height: 25px;
}
.title-banner .title-first, .title-banner .title-third{
    margin: 10px 0;
}
.button-banner{
    margin: 1rem 0;
    gap: 1rem;
}
.boton-aventuras {
    padding: 0.7em 1em;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
.boton-aventuras::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    z-index: -1;
    transition: 0.9s;
  }
  .boton-aventuras:hover{
    color: var(--color-lightblue);
  }
  .boton-contacto {
    padding: 0.7em 1em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.boton-contacto::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    z-index: -1;
    transition: 0.9s;
}
.img-banner{
    width: 43%;
}
.img-banner img{
    width: 100%;
    height: 75vh;
    position: relative;
}
.redes-sociales{
    width: 5%;
    text-align: center;
    position: relative;
    padding-left: 3.5rem;
}
.redes-sociales li{
    padding: 5px 0;
}
.redes-sociales img{
    width: 30px;
    height: 32px;
    transition: 0.5s;
    cursor: pointer;
}
.redes-sociales img:hover{
    transform: scale(1.1);
}

/* Ilumination Banner */


.ilumination{
    width: 50%;
    height: 80vh;
    position: absolute;
}

.width-ilumi{
    top: 40%;
    left: 50%;
}
.width-ilumi-one{
    top: -40%;
    left: 0%;
}

.ilumination-button, .ilumination-button-one {
    width: 300px;
    height: 300px;
    padding: 0.2em 0.2em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    position: relative;
    box-shadow: 0px 0 20px #008cffa4, -40px 0 100px #e100ff9b;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    filter: blur(90px);
}
.ilumination-button::after, .ilumination-button-one::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
}


/* Quienes sms */

.inf-nosotros{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    position: relative;
}
.img-nosotros{
    width: 40%;
}
.img-inf-nosotros{
    width: 40%;
    margin-top: 1rem;
}
.img-nosotros img{
    width: 80%;
    margin-left: 3rem;
}
.img-inf-nosotros p, .img-inf-nosotros h4, .img-inf-nosotros .pregunta{
    width: 70%;
}

.img-inf-nosotros p:last-child{
    color: white;
    margin-bottom: 1rem;
}

.img-inf-nosotros h4{
    color: white;
    margin-bottom: 1rem;
    font-size: 24px;
}
.img-inf-nosotros .pregunta{
    text-align: center;
    color: #008cff;
    font-size: 22px;
    margin-bottom: 1rem;
    padding-right: 3rem;
}


/* Visín y Misión */

section{
    margin: 4rem 0 4rem 0;
    color: white;
}
.bx-check{
    font-size: 30px;
}

.title-vm-nosotros{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0 0 0 10rem;
}

.inf-mv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    
}

.mision, .vision, .objetivo{
    width: 35%;
    text-align: center;
}

.mision h3, .vision h3, .objetivo h3{
    text-transform: uppercase;
}

.mision img, .vision img, .objetivo img{
    border: 2px solid var(--color-lightblue);
    border-radius: 100%;
    padding: 1rem;
}
.mision h3, .mision img, .vision h3, .vision img, .objetivo h3, .objetivo img{
    margin-bottom: 1.5rem;
}

.inf-mv p{
    width: 100%;
    text-align: justify;
}

  /* footer */

footer{
    border-top: 1px solid #a1a4a54d;
}
.footer-inf{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: white;
    margin: 3rem 0;
}
.footer-width{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.width-rs{
    width: 15% !important;
}
.one-file img{
    width: 120px;
    height: 100px;
}
.fourth-file ul{
    display: flex;
    gap: 0.5em;
}
.one-file .question-footer{
    color: var(--color-grey);
}
.one-file button{
    border: 1px solid var(--color-lightblue);
    padding: 0.5em 1rem;
    border-radius: 40px;
    color: var(--color-lightblue);
    background-color: transparent;
    width: 48%;
    font-size: 16px;
}
.second-file-footer h4, .third-file h4, .fourth-file h4{
    font-weight: 500;
    text-transform: uppercase;
}
.second-file-footer li, .third-file li, .fourth-file li{
    display: flex;
    gap: 0.4rem;
    margin-bottom: 10px;
    color: var(--color-grey);
    cursor: pointer;
}
.third-file li:hover{
    transform: scale(1.02);
}
.bxs-map, .bxs-phone, .bxs-envelope, 
.bxs-chevron-right, .bxl-facebook, .bxl-instagram, .bxl-tiktok{
    color: var(--color-lightblue) !important;
}
.bxl-facebook, .bxl-instagram, .bxl-tiktok{
    font-size: 32px;
    transition: 0.5s;
}
.bxl-facebook:hover, .bxl-instagram:hover, .bxl-tiktok:hover{
    transform: scale(1.1);
}
.derecho p{
    color: white;
    margin: 4rem 0 2rem 4.5rem;
    position: absolute;
}

.ilumination-footer{
    width: 400px;
    height: 100px;
    padding: 0.2em 0.2em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    position: relative;
    box-shadow: 0px 0 20px #008cffa4, -40px 0 100px #e100ff9b;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    filter: blur(70px);
    top: 0%;
    left: 80%;
}

.ilumination-footer::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
}
.ilumination-footer-up{
    width: 50%;
    height: auto;
    position: absolute;
}
.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: auto;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}


@keyframes button-nosotros{
    from {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    to {
        opacity: 1;
        transform: none;  
    }
}

.img-inf-nosotros, .objetivo, .vision, .mision{
        view-timeline-name: --image;
        /* view-timeline-axis: block; */
        animation-timeline: --image;
        animation-name: button-nosotros;
        animation-range: entry 25% cover 30%; 
        animation-fill-mode: both;
}

@keyframes right-nosotros{
    from {
        opacity: 0;
        transform: translate3d(-100%,0,0);    
    }
    to {
        opacity: 1;
        transform: none;  
    }
}

.img-nosotros{
        view-timeline-name: --image;
        /* view-timeline-axis: block; */
        animation-timeline: --image;
        animation-name: right-nosotros;
        animation-range: entry 25% cover 30%; 
        animation-fill-mode: both;
}



@media(max-width:991px){

    /* header */
    header{
        padding: 0 2rem;
    }
    .menu-icono{
        display: block;
    }

    #menu:checked ~ .list-right{
        display: initial;
    }
    .list-header{
        display: none;
    }
    .list-right {
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    header label{
        display: block;
    }

    .list-header{
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        background-color: #23005b;
        display: none;
    }
    .menu-horizontal{
        flex-direction: column;
        padding: 30px;
    }
    .boton{
        display: none;
    }
    .menu-vertical{
        position: relative;
        width: 100%;
    }
    .menu-horizontal li{
        width: 100%;
    }
    .menu-horizontal a{
        justify-content: center;
    }

    /* Banner */
    .banner{
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        height: auto;
    }
    .title-banner{
        margin: 0;
        width: 92%;
        line-height: 35px;
    }
    .title-banner .title-second{
        font-size: 60px;
    }
    .title-banner .title-third{
        width: 100%;
    }
    .button-banner{
        justify-content: center;
    }
    .img-banner{
        width: 100%;
    }
    .img-banner img{
        width: 300px;
        height: 30vh;
    }
    .redes-sociales ul{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .redes-sociales{
        width: 100%;
        margin-top: 1rem;
    }

    /* Nosotros */
    
    .inf-nosotros{
        flex-direction: column-reverse;
    }
    .inf-nosotros{
        margin: 2rem 0;
        align-items: center;
    }
    .img-inf-nosotros{
        width: 90%;
        text-align: center;
    }
    .img-inf-nosotros p, .img-inf-nosotros h4, .img-inf-nosotros .pregunta{
        width: 100%;
    }
    .img-inf-nosotros .pregunta{
        padding-right: 0;
    }
    .img-nosotros img{
        margin-left: 0;
    }
    .img-nosotros{
        width: 90%;
        text-align: center;
    }

    /* Misiòn y Visiòn */

    .title-vm-nosotros{
        margin: 1rem;
    }
    .mision, .vision, .objetivo{
        width: 80%;
    }
    
    /* footer */
       .footer-inf{
        flex-direction: column;
    }
    .footer-width{
        width: 98% !important;
        flex-direction: column;
        align-items: center;
    }
    .derecho p {
        margin: 4rem 0;
        width: 100%;
        text-align: center;
    }
    .ilumination-footer{
        width: 50%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1300px){

    /* Banner */
    .banner{
        height: 38vh;
    }
    .img-banner img{
        width: 450px;
        height: 35vh;
    }
    .servicios .title h1{
        width: 40%;
    }
    .block-service{
        width: 40%;
    }
    .ilumination{
        height: 45vh;
    }
    .img-banner{
        width: 43%;
    }
    .title-banner{
        width: 45%;
        line-height: 40px;
        margin: 0;
    }
    .img-inf-nosotros p, .img-inf-nosotros h4, 
    .img-inf-nosotros .pregunta{
        width: 100%;
    }
    .img-nosotros img{
        margin: 3rem;
    }

    /* Footer */
    .footer-inf{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
    }
    .footer-width, .width-rs{
        width: 40% !important;
    }
}