@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Bai Jamjuree", serif;
}
:root{
    --primary-color: #161A51;
    --color-lightblue: #89D9F2;
    --color-green: #10B534;
    --color-grey: #A1A4A5;


    --max-width: 1440px;

}
body{
    background-color: var(--primary-color);
}


/* Header */

.flex{
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.logo-header img{
    width: 130px;
    height: 110px;
    cursor: pointer;
}
.list-header{
    justify-content: space-between;
    gap: 4rem;
}
.list-header ul{
    display: flex;
    gap: 2rem;
    align-items: center;

}
.list-header ul a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.line{
    position: relative;
 }
 .line a:hover{
    color: var(--color-lightblue);
 }
.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--color-lightblue);
    position: absolute;
    bottom: -7px;
    right: 40%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}
.boton {
    padding: 0.7em 1em;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  .bx{
    font-size: 20px;
  }
  .boton::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
  }
  .boton:hover {
    box-shadow: 40px 0 100px #008cffa4, -40px 0 100px #e100ff9b;
  }


  /* Banner */

nav{
    display: flex;
    justify-content: center;
    position: relative;
}
.banner{
    /* background-color: #89D9F2; */
    width: 90%;
    height: 80vh;
    border-radius: 0 0 40px 40px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.title-banner{
    width: 40%;
    line-height: 40px;
    margin: 0 0 0 4rem;
}
.title-banner strong{
    color: #008cff;
}
.inf-service{
    background-color: var(--primary-color);
    border-radius: 0 0 40px 40px
}
.title-banner .title-first{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.title-banner .title-second{
    font-size: 80px;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(26, 173, 127, 100), rgb(46, 68, 210, 100));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 65px;
    font-weight: 600;
}
.title-banner .title-third{
    font-size: 20px;
    color: white;
    width: 80%;
    line-height: 25px;
}
.title-banner .title-first, .title-banner .title-third{
    margin: 10px 0;
}
.button-banner{
    margin: 1rem 0;
    gap: 1rem;
}
.boton-aventuras {
    padding: 0.7em 1em;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
.boton-aventuras::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    z-index: -1;
    transition: 0.9s;
  }
  .boton-aventuras:hover{
    color: var(--color-lightblue);
  }
  .boton-contacto {
    padding: 0.7em 1em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.boton-contacto::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    z-index: -1;
    transition: 0.9s;
}
.img-banner{
    width: 40%;
}
.img-banner img{
    width: 520px;
    height: 80vh;
    position: relative;
}
.redes-sociales{
    width: 5%;
    text-align: center;
    position: relative;
}
.redes-sociales li{
    padding: 5px 0;
}
.redes-sociales img{
    width: 30px;
    height: 32px;
    transition: 0.5s;
    cursor: pointer;
}
.redes-sociales img:hover{
    transform: scale(1.1);
}

/* Ilumination Banner */


.ilumination{
    width: 50%;
    height: 80vh;
    position: absolute;
}

.width-ilumi{
    top: 40%;
    left: 50%;
}
.width-ilumi-one{
    top: -40%;
    left: 0%;
}

.ilumination-button, .ilumination-button-one {
    width: 300px;
    height: 300px;
    padding: 0.2em 0.2em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    position: relative;
    box-shadow: 0px 0 20px #008cffa4, -40px 0 100px #e100ff9b;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    filter: blur(90px);
}
.ilumination-button::after, .ilumination-button-one::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
}


/* Quienes sms */

.inf-nosotros{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.img-nosotros{
    width: 40%;
}
.img-inf-nosotros{
    width: 40%;
    margin-top: 2rem;
}
.img-nosotros img{
    width: 80%;
    margin-left: 2rem;
}
.img-inf-nosotros p{
    width: 70%;
}
.img-inf-nosotros p, h4{
    color: white;
    margin-bottom: 1rem;
}
.img-inf-nosotros .pregunta{
    text-align: center;
}

  /* footer */

footer{
    border-top: 1px solid #a1a4a54d;
}
.footer-inf{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: white;
    margin: 3rem 0;
}
.footer-width{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.width-rs{
    width: 15% !important;
}
.one-file img{
    width: 120px;
    height: 100px;
}
.fourth-file ul{
    display: flex;
    gap: 0.5em;
}
.one-file .question-footer{
    color: var(--color-grey);
}
.one-file button{
    border: 1px solid var(--color-lightblue);
    padding: 0.5em 1rem;
    border-radius: 40px;
    color: var(--color-lightblue);
    background-color: transparent;
    width: 48%;
    font-size: 16px;
}
.second-file-footer h4, .third-file h4, .fourth-file h4{
    font-weight: 500;
    text-transform: uppercase;
}
.second-file-footer li, .third-file li, .fourth-file li{
    display: flex;
    gap: 0.4rem;
    margin-bottom: 10px;
    color: var(--color-grey);
    cursor: pointer;
}
.bxs-map, .bxs-phone, .bxs-envelope, 
.bxs-chevron-right, .bxl-facebook, .bxl-instagram, .bxl-tiktok{
    color: var(--color-lightblue) !important;
}
.bxl-facebook, .bxl-instagram, .bxl-tiktok{
    font-size: 32px;
    transition: 0.5s;
}
.bxl-facebook:hover, .bxl-instagram:hover, .bxl-tiktok:hover{
    transform: scale(1.1);
}
.derecho p{
    color: white;
    margin: 4rem 0 2rem 4.5rem;
    position: absolute;
}

.ilumination-footer{
    width: 400px;
    height: 100px;
    padding: 0.2em 0.2em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    position: relative;
    box-shadow: 0px 0 20px #008cffa4, -40px 0 100px #e100ff9b;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    filter: blur(70px);
    top: 0%;
    left: 80%;
}

.ilumination-footer::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
}
.ilumination-footer-up{
    width: 50%;
    height: auto;
    position: absolute;
}
.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: auto;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}