@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Bai Jamjuree", serif;
}
:root{
    --primary-color: #161A51;
    --color-lightblue: #89D9F2;
    --color-green: #10B534;
    --color-grey: #A1A4A5;


    --max-width: 1440px;

}
body{
    background-color: var(--primary-color);
}


/* Header */

.flex{
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.logo-header img{
    width: 130px;
    height: 110px;
    cursor: pointer;
}
.list-header{
    justify-content: space-between;
    gap: 4rem;
}
.menu-horizontal {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.menu-horizontal a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical{
    position: absolute;
    display: none;
    width: 200px;
    background-color: rgb(0, 0, 0, .5);
    z-index: 1000;
    border-top: 2px solid lightblue;
}
.menu-vertical li:hover{
    background-color: #320777;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    text-transform: capitalize;
}
.line{
    position: relative;
 }
 .line a:hover{
    color: var(--color-lightblue);
 }
.line:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--color-lightblue);
    position: absolute;
    bottom: -7px;
    right: 40%;
    transition: all .4s;
    will-change: width;
}
.line:hover:after{
    width: 100%;
    right: 0;
}
.boton {
    padding: 0.7em 1em;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  .bx{
    font-size: 20px;
  }
  .boton::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
  }
  .boton:hover {
    box-shadow: 40px 0 100px #008cffa4, -40px 0 100px #e100ff9b;
  }
  
  /* Banner */

nav{
    display: flex;
    justify-content: center;
    position: relative;
}
.banner{
    /* background-color: #89D9F2; */
    width: 90%;
    height: 80vh;
    border-radius: 0 0 40px 40px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.title-banner{
    width: 40%;
    line-height: 40px;
    margin: 0 0 0 4rem;
}
.title-banner strong{
    color: #008cff;
    font-weight: 400;
}
.inf-service{
    background-color: var(--primary-color);
    border-radius: 0 0 40px 40px
}
.title-banner .title-first{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.title-banner .title-second{
    font-size: 80px;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(26, 173, 127, 100), rgb(46, 68, 210, 100));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 65px;
    font-weight: 600;
}
.title-banner .title-third{
    font-size: 20px;
    color: white;
    width: 80%;
    line-height: 25px;
    cursor: pointer;
}
.title-third strong:hover{
    text-decoration: underline;
}
.title-banner .title-first, .title-banner .title-third{
    margin: 10px 0;
}
.button-banner{
    margin: 1rem 0;
    gap: 1rem;
}
.boton-aventuras {
    padding: 0.7em 1em;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
.boton-aventuras::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    z-index: -1;
    transition: 0.9s;
  }
  .boton-aventuras:hover{
    color: var(--color-lightblue);
  }
  .boton-contacto {
    padding: 0.7em 1em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.boton-contacto::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    z-index: -1;
    transition: 0.9s;
}
.img-banner{
    width: 40%;
}
.img-banner img{
    width: 520px;
    height: 80vh;
    position: relative;
}
.redes-sociales{
    width: 5%;
    text-align: center;
    position: relative;
    padding-left: 3.5rem;

}
.redes-sociales li{
    padding: 5px 0;
}
.redes-sociales img{
    width: 30px;
    height: 32px;
    transition: 0.5s;
    cursor: pointer;
}
.redes-sociales img:hover{
    transform: scale(1.1);
}

/* Ilumination Banner */


.ilumination{
    width: 50%;
    height: 80vh;
    position: absolute;
}

.width-ilumi{
    top: 40%;
    left: 50%;
}
.width-ilumi-one{
    top: -40%;
    left: 0%;
}

.ilumination-button, .ilumination-button-one {
    width: 300px;
    height: 300px;
    padding: 0.2em 0.2em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    position: relative;
    box-shadow: 0px 0 20px #008cffa4, -40px 0 100px #e100ff9b;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    filter: blur(90px);
}
.ilumination-button::after, .ilumination-button-one::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
}


/* Servicio */
.service{
    color: white;
    margin: 5rem;
}
.title-service{
    text-align: center;
    margin-bottom: 2rem;
}
.title-service p:first-child{
    font-size: 30px;
    font-weight: 500;
}
.title-service p:last-child{
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 500;
}
.linea {
    position: relative;
}
.linea:after {
    content: "";
    width: 0;
    height: 3px;
    background: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    position: absolute;
    bottom: -8px;
    right: 41%;
    transition: all .4s;
    will-change: width;
    width: 18%;
}
.contact-inf{
    background-image: linear-gradient(to bottom right, #311c66, #161A51);
    color: white;
    padding: 2rem 2rem 4rem;
    width: 100%;
    border-top: 1px solid #e100ff;
    border-left: 1px solid #e100ff;
    border-radius: 40px 40px 0 40px;
    position: sticky;
}
.incluye-servicios .bxs-joystick{
    font-size: 30px;
    border-radius: 100%;

    background-color: var(--primary-color);
    padding: 12px;
}
.weight, .cantidad-turno{
    font-weight: 100;
    text-align: left !important;
}
.incluye-servicios p:first-of-type{
    width: 50%;
    font-weight: 100;
    text-align: center;
}
.incluye-servicios h3{
    color: var(--color-lightblue);
    font-size: 25px;
}
.includ-service{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.icon-user{
    display: flex;
    gap: 5px;
}
.width-includ{
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.bx-user{
    font-size: 60px;
}
.incluye-servicios .bxs-joystick, .weight, .cantidad-turno, .incluye-servicios h3{
    margin-bottom: 0.5rem;
}
.price-service p{
    text-align: left !important;
    font-size: 30px;
    color: var(--color-lightblue);
    font-weight: 600 !important;
}
.price-service strong{
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.service button{
    background-color: #C717AF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    margin: 1rem 2rem 0 0;
    font-size: 15px;
    cursor: pointer;
}
.service button:hover{
    transform: scale(1.02);
}
/* videojuegos */
.first-file, .second-file{
    display: flex;
    justify-content: center;
}
.first-file .number{
    font-size: 35px;
    font-family: "Jaro", serif;
    color: white;
    display: flex;
    align-items: center;
}
.first-file .letter{
    font-size: 90px;
    font-family: "Jaro", serif;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
}
.second-file .umber{
    font-size: 30px;
    font-family: "Jaro", serif;
    color: #CD4B23;
    letter-spacing: 1px;
}
.title-vjuegos{
    line-height: 65px;
    margin: 5rem 0 2rem 0;
}
.videojuegos p{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 2rem;
}

.img-vjuegos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}
.vjuegos-block{
    width: 15%;
}
.vjuegos-block .img1{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.vjuegos-block .img2{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.vjuegos-block .img3{
    width: 100%;
    height: 340px;
    object-fit: cover;
}
.vjuegos-block p{
    text-align: center;
    font-family: "Jaro", serif;
    color: white;
    font-size: 30px;
}

/* Galeria de fotos */
.title-galery{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin: 5rem 0 3rem 0;
}

.line-service {
    position: relative;
}
.line-service:after {
    content: "";
    height: 3px;
    background: linear-gradient(to bottom right, #1AAD7F, #2E44D2);
    position: absolute;
    bottom: -8px;
    right: 65.5%;
    transition: all .4s;
    will-change: width;
    width: 5%;
}

/* scroll */
.galery-image{
    margin-bottom: 2rem;
}
.clientes-logos{
    margin-top: 5rem;
}
.cliente{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.scroll img{
    width: 280px;
    height: 300px;
    margin: 0 18px;
    transition: .5s;
    cursor: pointer;
}

.scroll{
    position: relative;
    display: flex;
    width: 1200px;
    overflow: hidden;
    padding: 1rem 2rem;
    /* mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent); */
}

.scroll .este{
    white-space: nowrap;
    animation: animate 30s linear infinite;
}


@keyframes animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}

.scroll:hover .este{
    animation-play-state: paused;
}

.title-clientes{
    text-align: center;
    color: var(--primary-color);
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 41px;
    font-weight: 200;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

  /* footer */

  footer{
    border-top: 1px solid #a1a4a54d;
}
.footer-inf{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: white;
    margin: 3rem 0;
}
.footer-width{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.width-rs{
    width: 15% !important;
}
.one-file img{
    width: 120px;
    height: 100px;
}
.fourth-file ul{
    display: flex;
    gap: 0.5em;
}
.one-file .question-footer{
    color: var(--color-grey);
}
.one-file button{
    border: 1px solid var(--color-lightblue);
    padding: 0.5em 1rem;
    border-radius: 40px;
    color: var(--color-lightblue);
    background-color: transparent;
    width: 48%;
    font-size: 16px;
}
.second-file-footer h4, .third-file h4, .fourth-file h4{
    font-weight: 500;
    text-transform: uppercase;
}
.second-file-footer li, .third-file li, .fourth-file li{
    display: flex;
    gap: 0.4rem;
    margin-bottom: 10px;
    color: var(--color-grey);
    cursor: pointer;
}
.bxs-map, .bxs-phone, .bxs-envelope, 
.bxs-chevron-right, .bxl-facebook, .bxl-instagram, .bxl-tiktok{
    color: var(--color-lightblue) !important;
}
.bxl-facebook, .bxl-instagram, .bxl-tiktok{
    font-size: 32px;
    transition: 0.5s;
}
.bxl-facebook:hover, .bxl-instagram:hover, .bxl-tiktok:hover{
    transform: scale(1.1);
}
.derecho p{
    color: white;
    margin: 4rem 0 2rem 4.5rem;
    position: absolute;
}

.ilumination-footer{
    width: 400px;
    height: 100px;
    padding: 0.2em 0.2em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    position: relative;
    box-shadow: 0px 0 20px #008cffa4, -40px 0 100px #e100ff9b;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    filter: blur(70px);
    top: 0%;
    left: 80%;
}

.ilumination-footer::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
    transition: 0.9s;
}
.ilumination-footer-up{
    width: 50%;
    height: auto;
    position: absolute;
}
.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: auto;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}

.icono-whatsapp{
    display: block;
    margin: 10px;
}
